@use "./mixins";
@use "./vars";

section.song-section {
  width: 100%;
  background-color: rgba(10, 10, 10, 0.3);

  .song-section-header {
    // background-color: red;
    @include mixins.flex(row, flex-start, center);
    gap: 35px;

    button {
      border: none;
      background-color: transparent;
      padding: 0;
      // width: 50px;
      // display: none;
      color: rgb(190, 190, 190);
      font-size: 2.4em;
      cursor: pointer;
      z-index: 2;

      &:hover {
        color: white;
      }
    }

    .play-button-playlist {
      width: 60px;
      color: black;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: vars.$theme-color;
      display: grid;
      place-content: center;
      font-size: 1.3em;
      &:hover {
        color: black;
      }
    }
  }
}

table {
  width: 100%;
  padding: 0px 30px;

  thead {
    font-family: spotifyFontLight;
    font-size: 0.9rem;
    color: rgb(185, 185, 185);

    tr {
      border-bottom: solid rgb(68, 68, 68) 1px;
      padding-bottom: 5px;
      display: grid;
      grid-template-columns: 1fr 6fr 5fr 3fr 3fr;

      &.album-table-head {
        grid-template-columns: minmax(0, 1fr) minmax(0, 15fr) minmax(0, 3fr);

        @media screen and (max-width: 1100px) {
          grid-template-columns: minmax(0, 1fr) minmax(0, 5fr) minmax(0, 2fr);
        }

        th {
          @media screen and (max-width: 900px) {
            &:nth-child(3) {
              display: block;
            }
          }
        }
      }

      @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr 6fr 4fr 2fr;
      }
      @media screen and (max-width: 900px) {
        grid-template-columns: 1fr 7fr 3fr;
      }

      th {
        text-align: left;

        &:first-child,
        &:last-child {
          text-align: center;
        }

        @media screen and (max-width: 1100px) {
          &:nth-child(4) {
            display: none;
          }
        }
        @media screen and (max-width: 900px) {
          &:nth-child(3) {
            display: none;
          }
        }
      }
    }
  }

  tbody {
    @extend thead;
    cursor: default;

    //--------------------------------

    &.album-table-body {
      tr {
        grid-template-columns: minmax(0, 1fr) minmax(0, 15fr) minmax(0, 3fr);

        @media screen and (max-width: 1100px) {
          grid-template-columns: minmax(0, 1fr) minmax(0, 5fr) minmax(0, 2fr);
        }
      }
      td:nth-child(3) {
        @include mixins.flex(column, center, center);

        @media screen and (max-width: 900px) {
          td:nth-child(3) {
            display: block;
          }
        }
      }
      .title-and-artist {
        @include mixins.flex(column, center, flex-start);
        gap: 5px;
        position: relative;

        h4 {
          margin: 0;
          color: white;
          text-overflow: ellipsis;
          overflow: hidden !important;
          white-space: nowrap;
          width: 90%;
        }
        p {
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden !important;
          white-space: nowrap;
          width: 100%;
        }
      }
    }

    //--------------------------------------

    tr {
      border: none;
      padding: 10px 0px;
      border-radius: 5px;

      &:hover {
        background-color: rgba(82, 82, 82, 0.6);
      }

      &:first-child {
        margin-top: 15px;
      }
    }

    td {
      position: relative;
      text-align: left;
      @include mixins.flex(column, center, center);

      &:nth-child(3),
      &:nth-child(4) {
        align-items: flex-start;
      }
      @media screen and (max-width: 1100px) {
        &:nth-child(4) {
          display: none;
        }
      }
      @media screen and (max-width: 900px) {
        &:nth-child(3) {
          display: none;
        }
      }

      &:first-child {
        .playing {
          width: 30px;
          height: 15px;
          // background-color: red;
          position: absolute;
          @include mixins.flex(row, center, center);
          gap: 4px;

          div {
            width: 3px;
            height: 100%;
            border-radius: 500px;
            background-color: vars.$theme-color;
            -webkit-animation: playSong 0.8s alternate infinite;
            animation: playSong 0.8s alternate infinite;
            transform-origin: bottom;

            &:first-child {
              -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
            }
            &:last-child {
              -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s;
            }
          }
        }
      }

      &.title-and-artist {
        justify-content: flex-start;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "image title"
          "image artist";
        grid-column-gap: 15px;
        padding-right: 20px;
        div {
          grid-area: image;
          width: 40px;
          aspect-ratio: 1/1;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        h4 {
          margin: 0;
          color: white;
          text-overflow: ellipsis;
          overflow: hidden !important;
          white-space: nowrap;
          max-width: 100%;
        }
        p {
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden !important;
          white-space: nowrap;
          max-width: 100%;
        }
        // background-color: red;
      }
    }
    .album {
      max-width: 300px;
      overflow: hidden !important;
      div {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        overflow: hidden !important;
      }
    }

    &:last-child {
      position: relative;
      i {
        font-size: 1.1em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
          color: white;
          cursor: pointer;
        }

        &:first-child {
          left: 10px;

          &.fas {
            color: #1fdf64;
          }
        }
        &:last-child {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .fa-ellipsis {
        position: absolute;
        right: 10px;
        padding: 20px 30px;
        padding-right: 0px;
        &:hover + div.options {
          visibility: visible;
        }
      }

      .options {
        overflow-y: auto;
        overflow-x: hidden;
        visibility: hidden;
        min-width: 160px;
        max-height: 200px;
        position: absolute;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
        right: 0%;
        bottom: 100%;
        background-color: vars.$main-background-color;
        border-radius: 5px;

        &::-webkit-scrollbar {
          width: 7px;
        }

        &::-webkit-scrollbar-track-piece {
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: transparent;
        }

        &:hover {
          &::-webkit-scrollbar-thumb {
            background-color: vars.$nav-ambient-color;
          }
          scrollbar-color: vars.$nav-ambient-color transparent;
        }

        &:hover {
          visibility: visible;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          @include mixins.flex(column, center, stretch);

          li {
            text-align: left;
            padding: 10px 10px;
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &:hover {
              background-color: vars.$secondary-background-color;
            }

            // width: 100%;
          }
        }
      }
    }
  }
}

.no-tracks {
  z-index: 200;
  padding: 30px;
  text-align: center;

  a {
    color: vars.$grey-color;
  }
}

.song-section-header {
  // background-color: red;
  @include mixins.flex(row, flex-start, center);
  gap: 35px;

  button {
    border: none;
    background-color: transparent;
    padding: 0;
    // width: 50px;
    // display: none;
    color: rgb(190, 190, 190);
    font-size: 2.4em;
    cursor: pointer;
    z-index: 2;

    &:hover {
      color: white;
    }
  }

  .play-button-playlist {
    width: 60px;
    color: black;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: vars.$theme-color;
    display: grid;
    place-content: center;
    font-size: 1.3em;
    &:hover {
      color: black;
    }
  }
}
