@use "./mixins";
@use "./vars";

section.song-section {
  width: 100%;
  background-color: rgba(10, 10, 10, 0.3);

  .song-section-header {
    // background-color: red;
    @include mixins.flex(row, flex-start, center);
    gap: 35px;

    button {
      border: none;
      background-color: transparent;
      padding: 0;
      // width: 50px;
      // display: none;
      color: rgb(190, 190, 190);
      font-size: 2.4em;
      cursor: pointer;
      z-index: 2;

      &:hover {
        color: white;
      }
    }

    .play-button-playlist {
      width: 60px;
      color: black;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: #1fdf64;
      display: grid;
      place-content: center;
      font-size: 1.3em;
      &:hover {
        color: black;
      }
    }
  }
}

table {
  width: 100%;
  padding: 0px 30px;

  thead {
    font-family: spotifyFontLight;
    font-size: 0.9rem;
    color: rgb(185, 185, 185);

    tr {
      border-bottom: solid rgb(68, 68, 68) 1px;
      padding-bottom: 5px;
      display: grid;
      grid-template-columns: 1fr 6fr 5fr 4fr 2fr;

      &.album-table-head {
        grid-template-columns: minmax(0, 1fr) minmax(0, 15fr) minmax(0, 2fr);

        @media screen and (max-width: 1100px) {
          grid-template-columns: minmax(0, 1fr) minmax(0, 8fr) minmax(0, 2fr);
        }

        th {
          @media screen and (max-width: 900px) {
            &:nth-child(3) {
              display: block;
            }
          }
        }
      }

      @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr 6fr 4fr 2fr;
      }
      @media screen and (max-width: 900px) {
        grid-template-columns: 1fr 8fr 2fr;
      }

      th {
        text-align: left;

        &:first-child,
        &:last-child {
          text-align: center;
        }

        @media screen and (max-width: 1100px) {
          &:nth-child(4) {
            display: none;
          }
        }
        @media screen and (max-width: 900px) {
          &:nth-child(3) {
            display: none;
          }
        }
      }
    }
  }

  tbody {
    @extend thead;
    cursor: default;

    //--------------------------------

    &.album-table-body {
      tr {
        grid-template-columns: minmax(0, 1fr) minmax(0, 15fr) minmax(0, 2fr);

        @media screen and (max-width: 1100px) {
          grid-template-columns: minmax(0, 1fr) minmax(0, 8fr) minmax(0, 2fr);
        }
      }
      td:nth-child(3) {
        @include mixins.flex(column, center, center);

        @media screen and (max-width: 900px) {
          td:nth-child(3) {
            display: block;
          }
        }
      }
      .title-and-artist {
        @include mixins.flex(column, center, flex-start);
        gap: 5px;
        position: relative;

        h4 {
          margin: 0;
          color: white;
          text-overflow: ellipsis;
          overflow: hidden !important;
          white-space: nowrap;
          width: 90%;
        }
        p {
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden !important;
          white-space: nowrap;
          width: 100%;
        }
      }
    }

    //--------------------------------------

    tr {
      border: none;
      padding: 10px 0px;
      border-radius: 5px;

      &:hover {
        background-color: rgba(82, 82, 82, 0.6);
      }

      &:first-child {
        margin-top: 15px;
      }
    }

    td {
      position: relative;
      text-align: left;
      @include mixins.flex(column, center, center);

      &:last-child {
        i {
          font-size: 1.1em;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);

          &:hover {
            color: white;
            cursor: pointer;
          }
        }
      }

      &:nth-child(3),
      &:nth-child(4) {
        align-items: flex-start;
      }
      @media screen and (max-width: 1100px) {
        &:nth-child(4) {
          display: none;
        }
      }
      @media screen and (max-width: 900px) {
        &:nth-child(3) {
          display: none;
        }
      }

      &.title-and-artist {
        justify-content: flex-start;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "image title"
          "image artist";
        grid-column-gap: 15px;
        padding-right: 20px;
        div {
          grid-area: image;
          width: 40px;
          aspect-ratio: 1/1;
          overflow: hidden;

          img {
            width: 150%;
          }
        }

        h4 {
          margin: 0;
          color: white;
          text-overflow: ellipsis;
          overflow: hidden !important;
          white-space: nowrap;
          max-width: 100%;
        }
        p {
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden !important;
          white-space: nowrap;
          max-width: 100%;
        }
        // background-color: red;
      }
    }
    .album {
      max-width: 300px;
      overflow: hidden !important;
      div {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        overflow: hidden !important;
      }
    }
  }
}

.song-section-header {
  // background-color: red;
  @include mixins.flex(row, flex-start, center);
  gap: 35px;

  button {
    border: none;
    background-color: transparent;
    padding: 0;
    // width: 50px;
    // display: none;
    color: rgb(190, 190, 190);
    font-size: 2.4em;
    cursor: pointer;
    z-index: 2;

    &:hover {
      color: white;
    }
  }

  .play-button-playlist {
    width: 60px;
    color: black;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #1fdf64;
    display: grid;
    place-content: center;
    font-size: 1.3em;
    &:hover {
      color: black;
    }
  }
}
