@use "./mixins" as *;
@use "./vars" as *;

.song-card-loose {
  @include flex(row, space-between, center);
  gap: 20px;
  min-height: 40px;
  // width: 100%;
  // height: 50px;
  padding: 10px;
  border-radius: 5px;
  // overflow: hidden;
  cursor: pointer;
  font-family: spotifyFontLight;

  &:hover {
    background-color: #2a2a2a;

    img {
      -webkit-filter: brightness(20%);
      filter: brightness(20%);
    }
  }

  .title-and-artist {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "image title"
      "image artist";
    grid-column-gap: 15px;
    div {
      grid-area: image;
      width: 40px;
      aspect-ratio: 1/1;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
      }
      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h4 {
      grid-area: title;
      margin: 0;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden !important;
      white-space: nowrap;
    }

    p {
      grid-area: artist;
      margin: 0;
      color: rgb(170, 168, 168);

      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden !important;
      white-space: nowrap;

      span {
        padding: 0;
      }
    }
  }

  span {
    position: relative;
    padding: 0px 50px 0px 50px;
    color: rgb(170, 168, 168);
    i {
      position: absolute;

      top: 50%;
      transform: translateY(-50%);

      &:hover {
        color: white;
      }

      &:first-child {
        left: 10px;

        &.fas {
          color: $theme-color;
        }
      }
    }

    .fa-ellipsis {
      position: absolute;
      right: 10px;
      padding: 20px;
      padding-right: 0px;

      &:hover + .options {
        visibility: visible;
      }
    }

    .options {
      overflow-x: hidden;
      visibility: hidden;
      min-width: 160px;
      max-height: 80px;
      position: absolute;
      right: 0%;
      bottom: 100%;
      background-color: $main-background-color;
      border-radius: 5px;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-track-piece {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: transparent;
      }

      &:hover {
        visibility: visible;
        &::-webkit-scrollbar-thumb {
          background-color: $nav-ambient-color;
        }
        scrollbar-color: $nav-ambient-color transparent;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        @include flex(column, center, stretch);

        li {
          text-align: left;
          padding: 10px 10px;
          max-width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &:hover {
            background-color: $secondary-background-color;
          }

          // width: 100%;
        }
      }
    }
  }
}
