$main-background-color: black;
$secondary-background-color: #111111;

$nav-ambient-color: rgb(150, 148, 148);

$header-color: #1d1d1d;

$grey-color: rgb(187, 185, 185);

$theme-color: #ef4d63;
$theme-color-hover: #f33a53;

$genres-colors: (
  #da3200,
  #7358ff,
  #1e3264,
  #e8115b,
  #27856a,
  #944905,
  #148a08,
  #8d67ab,
  #b02897,
  #e1118c,
  #6c6c6c,
  #056952,
  #0d73ec,
  #1e3264,
  #e61e32,
  #5179a1,
  #7d4b32,
  #503750,
  #f3729e,
  #8c1932
);

@keyframes playSong {
  0% {
    transform: scaleY(1);
  }
  70% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(0.5);
  }
}
