$main-background-color:black;
$secondary-background-color:#111111;

$nav-ambient-color:rgb(150, 148, 148);

$header-color:#1d1d1d;

// :root{
//     --gradient-color-1:rgba(164, 30, 43,0.7);
//     --gradient-color-2:rgba(126, 154, 168,0.7);
//     --gradient-color-3:rgba(57, 57, 50,0.7);
//     --gradient-color-4:rgba(119, 119, 121,0.7);
//     --gradient-color-5:rgba(23, 30, 56,0.7);
//     --gradient-color-6:rgba(55, 151, 106,0.7);
// }

// // $gradient-color-1:rgba(164, 30, 43,0.7);
// // $gradient-color-2:rgba(126, 154, 168,0.7);
// // $gradient-color-3:rgba(57, 57, 50,0.7);
// // $gradient-color-4:rgba(119, 119, 121,0.7);
// // $gradient-color-5:rgba(23, 30, 56,0.7);
// // $gradient-color-6:rgba(55, 151, 106,0.7);
