@use "./vars" as *;
@use "./mixins" as *;
@use "./aside_menu";
@use "./footer";
@use "./home";
@use "./playlist_card";
@use "./main_header";
@use "./playlist_page";
@use "./playlist_song_section";
@use "./search_page";
@use "./song_card_loose";
@use "./artist_page";
@use "./category_page";

@font-face {
  font-family: spotifyFont;
  src: url("../fonts/GothamMedium.ttf");
}
@font-face {
  font-family: spotifyFontLight;
  src: url("../fonts/GothamLight.ttf");
}
@font-face {
  font-family: spotifyFontBold;
  src: url("../fonts/GothamBold.ttf");
}

[v-cloak] {
  display: none;
}
body {
  font-family: spotifyFont;
  background-color: $main-background-color;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  height: 100vh;
}
.main-layout {
  padding: 10px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 20fr 3fr;
  grid-gap: 10px;
  grid-template-areas:
    "aside header"
    "aside content"
    "footer footer";

  .router-view {
    background-color: $secondary-background-color;
    color: white;
    grid-area: content;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    position: relative;
    border-radius: 10px;

    @media screen and (max-width: 900px) {
      min-width: 500px;
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: transparent;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: $nav-ambient-color;
      }
      scrollbar-color: $nav-ambient-color transparent;
    }
  }
}

article.login {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #095526;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000000' stroke-width='65.6' stroke-opacity='0.08' %3E%3Ccircle fill='%23095526' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23095325' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23085124' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23085024' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23084e23' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23084c22' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23084a21' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23074821' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23074720' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2307451f' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2307431e' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2307411e' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2307401d' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23073e1c' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23063c1b' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23063a1b' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2306391a' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23063719' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 100;

  section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include flex(column, center, center);
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  div {
    width: 15%;
    min-width: 200px;
    overflow: hidden;
  }

  img {
    width: 100%;
  }

  a {
    border: none;
    font-family: spotifyFontLight;
    font-size: 1.8em;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    color: $secondary-background-color;
    padding: 15px 80px;
    border-radius: 500px;

    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }
}

.loader-container {
  position: fixed;
  padding: 10px;
  width: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: $main-background-color;
  display: grid;
  grid-template-columns: minmax(290px, 1fr) 4fr;
  grid-template-rows: 2fr 20fr 3fr;
  grid-gap: 8px;
  grid-template-areas:
    "nothing nothing"
    "nothing content"
    "nothing nothing";
  z-index: 4;

  .spinner-container {
    border-radius: 10px;
    // background-color: blue;
    background-color: $secondary-background-color;
    position: relative;
    display: grid;
    place-content: center;
    @media screen and (max-width: 900px) {
      min-width: 500px;
    }
  }
  .lds-ellipsis {
    grid-area: content;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #1fdf64;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}
