@keyframes playSong {
  0% {
    transform: scaleY(1);
  }
  70% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(0.5);
  }
}
aside {
  background-color: #111111;
  border-radius: 10px;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-width: 290px;
  overflow: auto;
  z-index: 5;
}
aside nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 10px;
}
aside nav a {
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: rgb(150, 148, 148);
}
aside nav a i {
  font-size: 1.4em;
}
aside nav a:hover {
  background-color: #111111;
  color: white;
  transition: all 0.3s;
}
aside nav a.router-link-exact-active {
  color: rgb(255, 255, 255);
}
aside nav .nav-buttons {
  margin-top: 15px;
}
aside nav .nav-buttons div {
  padding: 10px 15px;
  color: rgb(150, 148, 148);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  cursor: pointer;
}
aside nav .nav-buttons div:hover {
  background-color: #111111;
  color: white;
  transition: all 0.3s;
}
aside nav .nav-buttons div p {
  width: 30px;
  aspect-ratio: 1/1;
  background: rgb(150, 148, 148);
  display: grid;
  place-content: center;
  color: black;
  margin: 0;
}
aside nav .nav-buttons div:last-child p {
  color: white;
  background: linear-gradient(135deg, rgb(107, 7, 128), rgb(189, 187, 187));
}
aside hr {
  margin: 5px 20px;
  transform: scaleY(0.5);
}
aside ul {
  color: rgb(150, 148, 148);
  padding: 0px 10px;
  list-style: none;
  scrollbar-width: none;
  scrollbar-color: rgb(150, 148, 148) transparent;
  overflow-y: auto;
}
aside ul::-webkit-scrollbar {
  width: 7px;
}
aside ul::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
aside ul::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  background-color: transparent;
}
aside ul:hover {
  scrollbar-width: thin;
}
aside ul:hover::-webkit-scrollbar-thumb:vertical {
  background-color: rgb(150, 148, 148);
}
aside ul li {
  padding: 10px 20px;
  cursor: pointer;
}
aside ul li:hover {
  color: white;
}

footer#song-player {
  grid-area: footer;
  z-index: 5;
  padding: 0px 10px;
  padding-bottom: 20px;
  position: relative;
  background-color: #000000;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}
@media screen and (max-width: 1000px) {
  footer#song-player {
    grid-column-gap: 20px;
  }
}
footer#song-player section.overlay {
  width: calc(100% - 60px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  height: calc(100% - 20px);
  padding: 0px 30px;
  background: linear-gradient(45deg, rgb(4, 79, 150), rgb(130, 11, 167));
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer#song-player section.overlay h1 {
  color: white;
}
footer#song-player section.overlay p {
  color: rgb(187, 185, 185);
}
footer#song-player section#song-info {
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
footer#song-player section#song-info div:first-child {
  width: 60px;
  border-radius: 5px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
footer#song-player section#song-info div:first-child img {
  width: 110%;
}
footer#song-player section#song-info div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
footer#song-player section#song-info div:nth-child(2) h2 {
  font-size: 1em;
  margin: 0;
  color: white;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (max-width: 1000px) {
  footer#song-player section#song-info div:nth-child(2) h2 {
    width: 100px;
  }
}
footer#song-player section#song-info div:nth-child(2) p {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-size: 0.7em;
  color: rgb(187, 185, 185);
  font-family: spotifyFontLight;
}
@media screen and (max-width: 1000px) {
  footer#song-player section#song-info div:nth-child(2) p {
    width: 100px;
  }
}
footer#song-player section#song-info div:last-child {
  color: rgb(187, 185, 185);
  cursor: pointer;
}
footer#song-player section#song-info div:last-child:hover {
  color: white;
}
footer#song-player section#song-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer#song-player section#song-player div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer#song-player section#song-player div:first-child i {
  color: rgb(187, 185, 185);
  font-size: 1.2em;
}
footer#song-player section#song-player div:first-child i:nth-child(3) {
  background-color: white;
  color: black;
  width: 35px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
footer#song-player section#song-player div:first-child i:nth-child(3):hover {
  color: black;
  transform: scale(1.08);
}
footer#song-player section#song-player div:first-child i:hover {
  color: white;
}
footer#song-player section#song-player div:last-child {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  gap: 5px;
  width: 100%;
}
footer#song-player section#song-player div:last-child .input-container {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer#song-player section#song-player div:last-child .input-container div {
  height: 4px;
  width: 0;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 500px;
  z-index: -1;
}
footer#song-player section#song-player div:last-child .input-container:hover div {
  background-color: #1fdf64;
}
footer#song-player section#song-player div:last-child span {
  color: rgb(187, 185, 185);
  font-size: 0.75em;
  display: grid;
  place-content: center;
}
footer#song-player section#song-options {
  padding-left: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  color: rgb(187, 185, 185);
}
@media screen and (max-width: 1200px) {
  footer#song-player section#song-options {
    padding-left: 10%;
  }
}
@media screen and (max-width: 800px) {
  footer#song-player section#song-options {
    padding-left: 0%;
  }
}
footer#song-player section#song-options .icon-container {
  min-width: 15px;
}
footer#song-player section#song-options i:hover {
  color: white;
}
footer#song-player section#song-options .input-container {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer#song-player section#song-options .input-container div {
  height: 4px;
  width: 0;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 500px;
  z-index: -1;
}
footer#song-player section#song-options .input-container:hover div {
  background-color: #1fdf64;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: rgba(187, 185, 185, 0.3);
  height: 4px;
  border-radius: 500px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: rgba(187, 185, 185, 0.3);
  border-color: transparent;
  color: transparent;
  height: 4px;
  border-radius: 500px;
}

input[type=range]::-webkit-slider-thumb {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  opacity: 0;
}

input[type=range]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #ffffff;
  cursor: pointer;
  border: none;
  opacity: 0;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  opacity: 0;
}

input[type=range]:hover::-moz-range-thumb {
  opacity: 1;
}
input[type=range]:hover::-ms-thumb {
  opacity: 1;
}
input[type=range]:hover::-webkit-slider-thumb {
  opacity: 1;
}

footer#spotify-footer {
  margin-top: 100px;
  padding-bottom: 40px;
  width: 100%;
}
footer#spotify-footer section {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer#spotify-footer section article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer#spotify-footer section article div {
  flex-shrink: 0;
  padding: 10px 30px;
}
footer#spotify-footer section article div h4 {
  margin: 0;
}
footer#spotify-footer section article div ul {
  list-style: none;
  padding: 0;
  line-height: 30px;
  font-family: spotifyFontLight;
}
footer#spotify-footer section article div ul li {
  color: rgb(170, 167, 167);
  cursor: pointer;
}
footer#spotify-footer section article div ul li:hover {
  color: white;
  text-decoration: underline;
}
footer#spotify-footer section article:last-child div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
footer#spotify-footer section article:last-child div a {
  width: 40px;
  aspect-ratio: 1/1;
  background-color: #272727;
  display: grid;
  place-content: center;
  font-size: 1.1em;
  border-radius: 50%;
}
footer#spotify-footer section article:last-child div a:hover {
  background-color: rgb(82, 82, 82);
}
footer#spotify-footer hr {
  transform: scaleY(0.5);
  margin: 30px;
}
footer#spotify-footer p {
  width: 100%;
  text-align: center;
  color: rgb(170, 167, 167);
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

progress,
progress[value]::-webkit-progress-bar {
  background-color: rgba(187, 185, 185, 0.3);
  border-radius: 500px;
  border: none;
  height: 4px;
  width: 100%;
}

progress[value]::-webkit-progress-value {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(255, 255, 255);
  border-radius: 500px;
  width: 100%;
}
progress[value]::-webkit-progress-value:hover {
  background: #1fdf64;
}

progress::-moz-progress-bar {
  background: rgb(255, 255, 255);
  border-radius: 500px;
  width: 100%;
}
progress::-moz-progress-bar:hover {
  background: #1fdf64;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.home .focus, .home article.spotify-playlists {
  padding: 0px 30px;
  padding-bottom: 20px;
}
.home .focus header, .home article.spotify-playlists header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home .focus header h2, .home article.spotify-playlists header h2, .home .focus header p, .home article.spotify-playlists header p {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.home .focus header h2:hover, .home article.spotify-playlists header h2:hover, .home .focus header p:hover, .home article.spotify-playlists header p:hover {
  text-decoration: underline;
}
.home .focus header p, .home article.spotify-playlists header p {
  color: rgb(156, 154, 154);
}
.home .focus div.playlist-card-container, .home article.spotify-playlists div.playlist-card-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: 1fr;
  overflow-y: hidden;
  grid-column-gap: 15px;
  grid-auto-rows: 0;
}
.home .focus div.playlist-card-container.show-all, .home article.spotify-playlists div.playlist-card-container.show-all {
  grid-auto-rows: 1fr;
  grid-row-gap: 15px;
}
@media screen and (max-width: 1500px) {
  .home .focus div.playlist-card-container, .home article.spotify-playlists div.playlist-card-container {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1340px) {
  .home .focus div.playlist-card-container, .home article.spotify-playlists div.playlist-card-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1000px) {
  .home .focus div.playlist-card-container, .home article.spotify-playlists div.playlist-card-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (max-width: 800px) {
  .home .focus div.playlist-card-container, .home article.spotify-playlists div.playlist-card-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.playlist-card {
  color: white;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  aspect-ratio: 6.5/10;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.3s;
}
.playlist-card:hover {
  background-color: #272727;
}
.playlist-card:hover .image-container button {
  opacity: 1;
  transform: translateY(0);
}
.playlist-card .image-container {
  position: relative;
}
.playlist-card .image-container div {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: inherit;
  display: grid;
  place-content: center;
  box-shadow: 2px 2px 20px 2px rgb(14, 14, 14);
}
.playlist-card .image-container img {
  width: 100%;
}
.playlist-card .image-container .play-button-home {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  border: none;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #1fdf64;
  display: grid;
  place-content: center;
  font-size: 1.2em;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.2s, transform 0.2s;
}
.playlist-card h4 {
  text-align: left;
  max-width: 100%;
  align-self: flex-start;
  font-weight: 200;
  margin: 0;
  margin-top: 15px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.playlist-card p {
  word-break: break-all;
  margin: 0;
  margin-top: 10px;
  line-height: 20px;
  font-family: spotifyFontLight;
  color: rgb(175, 173, 173);
  font-size: 0.9em;
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.header-all {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  width: calc(100% - 60px);
  z-index: 5;
  border-radius: 10px;
}
.header-all div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-all div:first-child div {
  position: relative;
}
.header-all div:first-child .router-arrows {
  background-color: black;
  font-size: 1.1em;
  width: 35px;
  color: rgb(172, 170, 170);
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.header-all div:first-child .tooltip {
  z-index: 5;
  width: auto;
  margin: 0;
  color: white;
  font-family: spotifyFontLight;
  padding: 8px 6px;
  border-radius: 6px;
  position: absolute;
  bottom: -35px;
  min-width: 80px;
  font-size: 0.8em;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  cursor: default;
  background-color: rgb(39, 39, 39);
  box-shadow: 2px 2px 10px black;
}
.header-all div:first-child .back:hover .tooltip, .header-all div:first-child .forward:hover .tooltip {
  opacity: 1;
  transition: all 0.3s;
  transition-delay: 0.3s;
}
.header-all .input-div {
  color: rgb(133, 133, 133);
  margin-left: 15px;
  border-radius: 500px;
}
.header-all .input-div:hover {
  color: rgb(206, 206, 206);
}
.header-all .input-div:hover input {
  border-color: rgb(148, 147, 147);
}
.header-all .input-div input {
  width: 260px;
  height: 40px;
  color: white;
  background-color: #2a2a2a;
  border-radius: 500px;
  border: solid transparent 1px;
  font-size: 0.9em;
  padding: 0px 40px;
  caret-color: white;
  outline: none;
}
@media screen and (max-width: 1000px) {
  .header-all .input-div input {
    width: 150px;
  }
}
@media screen and (max-width: 900px) {
  .header-all .input-div input {
    width: 100px;
  }
}
.header-all .input-div input:focus {
  box-shadow: 0px 0px 0px 2px white;
}
.header-all .input-div input:focus + i {
  color: white;
}
.header-all .input-div input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(133, 133, 133);
  opacity: 1; /* Firefox */
}
.header-all .input-div input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(133, 133, 133);
  opacity: 1; /* Firefox */
}
.header-all .input-div input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(133, 133, 133);
}
.header-all .input-div input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(133, 133, 133);
}
.header-all .input-div i {
  position: absolute;
  left: 15px;
}
.header-all .input-div i:last-child {
  left: calc(100% - 30px);
  font-size: 1.3em;
  cursor: pointer;
}
.header-all div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.header-all div:last-child .auth-buttons {
  border: none;
  font-family: spotifyFont;
  font-size: 1.03em;
  cursor: pointer;
}
.header-all div:last-child .auth-buttons:first-child {
  text-decoration: none;
  background-color: transparent;
  color: rgb(206, 206, 206);
}
.header-all div:last-child .auth-buttons:first-child:hover {
  color: white;
}
.header-all div:last-child .auth-buttons:last-child {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 500px;
}
.header-all div:last-child .auth-buttons:last-child:hover {
  background-color: rgb(245, 245, 245);
}
.header-all div:last-child .profile-link {
  border-radius: 500px;
  border: solid rgb(187, 185, 185) 1px;
  padding: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: rgb(187, 185, 185);
  font-size: 0.8em;
}
.header-all div:last-child .profile-link div {
  width: 20px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
}
.header-all div:last-child .profile-link div img {
  width: 100%;
}
.header-all div:last-child .profile-link i {
  margin-left: 30px;
}
.header-all div:last-child .profile-link:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px white;
  border-color: white;
}

.playlist-page {
  min-height: 100%;
  position: relative;
}
.playlist-page .gradient {
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 70vh;
}
.playlist-page header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 25px;
  padding: 30px;
}
.playlist-page header div.image-container {
  z-index: 2;
  align-self: flex-end;
  overflow: hidden;
  min-width: 170px;
  aspect-ratio: 1/1;
  box-shadow: 2px 2px 20px 2px black;
}
.playlist-page header div.image-container img {
  width: 100%;
}
.playlist-page header .header-contents {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.playlist-page header .header-contents h1 {
  margin: 0;
  font-family: spotifyFontBold;
  font-size: 5em;
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
@media screen and (max-width: 1250px) {
  .playlist-page header .header-contents h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 1050px) {
  .playlist-page header .header-contents h1 {
    font-size: 2em;
  }
}
.playlist-page header .header-contents p {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 0.8;
  font-family: spotifyFontLight;
  font-size: 0.9em;
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
@media screen and (max-width: 800px) {
  .playlist-page header .header-contents p {
    font-size: 0.8rem;
  }
}
.playlist-page header .header-contents .playlist-stats {
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
@media screen and (max-width: 800px) {
  .playlist-page header .header-contents .playlist-stats {
    font-size: 0.8rem;
  }
}
.playlist-page header .header-contents .playlist-stats h5 {
  font-family: spotifyFontLight;
  margin: 0;
}
.playlist-page header .header-contents .playlist-stats ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 0.8em;
  padding-left: 15px;
  margin: 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  .playlist-page header .header-contents .playlist-stats ul {
    gap: 15px;
  }
}
.playlist-page header .header-contents .playlist-stats ul li {
  flex-shrink: 0;
}
.playlist-page header .header-contents .playlist-stats ul span {
  color: rgb(175, 175, 175);
}

section.song-section {
  width: 100%;
  background-color: rgba(10, 10, 10, 0.3);
}
section.song-section .song-section-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
}
section.song-section .song-section-header button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: rgb(190, 190, 190);
  font-size: 2.4em;
  cursor: pointer;
  z-index: 2;
}
section.song-section .song-section-header button:hover {
  color: white;
}
section.song-section .song-section-header .play-button-playlist {
  width: 60px;
  color: black;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #1fdf64;
  display: grid;
  place-content: center;
  font-size: 1.3em;
}
section.song-section .song-section-header .play-button-playlist:hover {
  color: black;
}

table {
  width: 100%;
  padding: 0px 30px;
}
table thead, table tbody {
  font-family: spotifyFontLight;
  font-size: 0.9rem;
  color: rgb(185, 185, 185);
}
table thead tr, table tbody tr {
  border-bottom: solid rgb(68, 68, 68) 1px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 6fr 5fr 4fr 2fr;
}
table thead tr.album-table-head, table tbody tr.album-table-head {
  grid-template-columns: minmax(0, 1fr) minmax(0, 15fr) minmax(0, 2fr);
}
@media screen and (max-width: 1100px) {
  table thead tr.album-table-head, table tbody tr.album-table-head {
    grid-template-columns: minmax(0, 1fr) minmax(0, 8fr) minmax(0, 2fr);
  }
}
@media screen and (max-width: 900px) {
  table thead tr.album-table-head th:nth-child(3), table tbody tr.album-table-head th:nth-child(3) {
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  table thead tr, table tbody tr {
    grid-template-columns: 1fr 6fr 4fr 2fr;
  }
}
@media screen and (max-width: 900px) {
  table thead tr, table tbody tr {
    grid-template-columns: 1fr 8fr 2fr;
  }
}
table thead tr th, table tbody tr th {
  text-align: left;
}
table thead tr th:first-child, table tbody tr th:first-child, table thead tr th:last-child, table tbody tr th:last-child {
  text-align: center;
}
@media screen and (max-width: 1100px) {
  table thead tr th:nth-child(4), table tbody tr th:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  table thead tr th:nth-child(3), table tbody tr th:nth-child(3) {
    display: none;
  }
}
table tbody {
  cursor: default;
}
table tbody.album-table-body tr {
  grid-template-columns: minmax(0, 1fr) minmax(0, 15fr) minmax(0, 2fr);
}
@media screen and (max-width: 1100px) {
  table tbody.album-table-body tr {
    grid-template-columns: minmax(0, 1fr) minmax(0, 8fr) minmax(0, 2fr);
  }
}
table tbody.album-table-body td:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  table tbody.album-table-body td:nth-child(3) td:nth-child(3) {
    display: block;
  }
}
table tbody.album-table-body .title-and-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  position: relative;
}
table tbody.album-table-body .title-and-artist h4 {
  margin: 0;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
  width: 90%;
}
table tbody.album-table-body .title-and-artist p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
  width: 100%;
}
table tbody tr {
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
}
table tbody tr:hover {
  background-color: rgba(82, 82, 82, 0.6);
}
table tbody tr:first-child {
  margin-top: 15px;
}
table tbody td {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table tbody td:nth-child(3), table tbody td:nth-child(4) {
  align-items: flex-start;
}
@media screen and (max-width: 1100px) {
  table tbody td:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  table tbody td:nth-child(3) {
    display: none;
  }
}
table tbody td:first-child .playing {
  width: 30px;
  height: 15px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
table tbody td:first-child .playing div {
  width: 3px;
  height: 100%;
  border-radius: 500px;
  background-color: #1fdf64;
  animation: playSong 0.8s alternate infinite;
  transform-origin: bottom;
}
table tbody td:first-child .playing div:first-child {
  animation-delay: 0.3s;
}
table tbody td:first-child .playing div:last-child {
  animation-delay: 0.6s;
}
table tbody td.title-and-artist {
  justify-content: flex-start;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "image title" "image artist";
  grid-column-gap: 15px;
  padding-right: 20px;
}
table tbody td.title-and-artist div {
  grid-area: image;
  width: 40px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
table tbody td.title-and-artist div img {
  width: 100%;
}
table tbody td.title-and-artist h4 {
  margin: 0;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
  max-width: 100%;
}
table tbody td.title-and-artist p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
  max-width: 100%;
}
table tbody .album {
  max-width: 300px;
  overflow: hidden !important;
}
table tbody .album div {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden !important;
}
table tbody:last-child {
  position: relative;
}
table tbody:last-child i {
  font-size: 1.1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
table tbody:last-child i:hover {
  color: white;
  cursor: pointer;
}
table tbody:last-child i:first-child {
  left: 10px;
}
table tbody:last-child i:last-child {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
table tbody:last-child .fa-ellipsis {
  position: absolute;
  right: 10px;
  padding: 20px;
  padding-right: 0px;
}
table tbody:last-child .fa-ellipsis:hover + div.options {
  visibility: visible;
}
table tbody:last-child .options {
  overflow: hidden;
  visibility: hidden;
  min-width: 160px;
  position: absolute;
  right: 0%;
  top: -150%;
  background-color: black;
  border-radius: 5px;
}
table tbody:last-child .options:hover {
  visibility: visible;
}
table tbody:last-child .options ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
table tbody:last-child .options ul li {
  text-align: left;
  padding: 10px 10px;
}
table tbody:last-child .options ul li:hover {
  background-color: #111111;
}

.song-section-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
}
.song-section-header button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: rgb(190, 190, 190);
  font-size: 2.4em;
  cursor: pointer;
  z-index: 2;
}
.song-section-header button:hover {
  color: white;
}
.song-section-header .play-button-playlist {
  width: 60px;
  color: black;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #1fdf64;
  display: grid;
  place-content: center;
  font-size: 1.3em;
}
.song-section-header .play-button-playlist:hover {
  color: black;
}

section.search {
  padding: 0px 30px;
}
section.search .search-header {
  padding-top: 20px;
}
section.search .search-header h2 {
  margin: 0;
}
section.search .categories-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
section.search .categories-header button {
  font-family: spotifyFont;
  border: none;
  padding: 10px 15px;
  border-radius: 500px;
  color: white;
  background-color: #2a2a2a;
  cursor: pointer;
}
section.search .categories-header button:hover {
  background-color: #3a3a3a;
}
section.search .categories-header button.active {
  background-color: white;
  color: black;
}
section.search .genres-section {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
}
@media screen and (max-width: 1400px) {
  section.search .genres-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1170px) {
  section.search .genres-section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (max-width: 970px) {
  section.search .genres-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
section.search .genres-section .genre-card {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
section.search .genres-section .genre-card:nth-child(1) {
  background-color: #da3200;
}
section.search .genres-section .genre-card:nth-child(2) {
  background-color: #7358ff;
}
section.search .genres-section .genre-card:nth-child(3) {
  background-color: #1e3264;
}
section.search .genres-section .genre-card:nth-child(4) {
  background-color: #e8115b;
}
section.search .genres-section .genre-card:nth-child(5) {
  background-color: #27856a;
}
section.search .genres-section .genre-card:nth-child(6) {
  background-color: #944905;
}
section.search .genres-section .genre-card:nth-child(7) {
  background-color: #148a08;
}
section.search .genres-section .genre-card:nth-child(8) {
  background-color: #8d67ab;
}
section.search .genres-section .genre-card:nth-child(9) {
  background-color: #b02897;
}
section.search .genres-section .genre-card:nth-child(10) {
  background-color: #e1118c;
}
section.search .genres-section .genre-card:nth-child(11) {
  background-color: #6c6c6c;
}
section.search .genres-section .genre-card:nth-child(12) {
  background-color: #056952;
}
section.search .genres-section .genre-card:nth-child(13) {
  background-color: #0d73ec;
}
section.search .genres-section .genre-card:nth-child(14) {
  background-color: #1e3264;
}
section.search .genres-section .genre-card:nth-child(15) {
  background-color: #e61e32;
}
section.search .genres-section .genre-card:nth-child(16) {
  background-color: #5179a1;
}
section.search .genres-section .genre-card:nth-child(17) {
  background-color: #7d4b32;
}
section.search .genres-section .genre-card:nth-child(18) {
  background-color: #503750;
}
section.search .genres-section .genre-card:nth-child(19) {
  background-color: #f3729e;
}
section.search .genres-section .genre-card:nth-child(20) {
  background-color: #8c1932;
}
section.search .genres-section .genre-card h2 {
  padding: 0px 20px;
  word-break: break-all;
}
section.search .genres-section .genre-card .genre-card-image-container {
  overflow: hidden;
  width: 120px;
  aspect-ratio: 1/1;
  position: absolute;
  right: -20px;
  bottom: -20px;
  transform: rotate(30deg);
}
@media screen and (max-width: 970px) {
  section.search .genres-section .genre-card .genre-card-image-container {
    width: 200px;
    right: -50px;
    bottom: -50px;
  }
}
section.search .genres-section .genre-card .genre-card-image-container img {
  width: 100%;
  aspect-ratio: 1/1;
}
section.search .top-results {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 4fr);
}
@media screen and (max-width: 1000px) {
  section.search .top-results {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}
section.search .top-results h1 {
  margin: 0;
  font-size: 1.3rem;
}
section.search .top-results.show {
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr;
}
section.search .top-results.show .tracks {
  max-height: 100%;
}
section.search .top-results.artist {
  display: block;
  padding: 20px;
}
section.search .top-results.artist div {
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  padding: 30px 20px;
  background-color: #181818;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  transition: background-color 0.2s;
}
section.search .top-results.artist div:hover button {
  transform: none;
  opacity: 1;
}
section.search .top-results.artist div:hover {
  background-color: #282828;
}
section.search .top-results.artist div .artist-image-container {
  aspect-ratio: 1/1;
  width: 100px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px 2px black;
  overflow: hidden;
}
section.search .top-results.artist div .artist-image-container img {
  width: 100%;
}
section.search .top-results.artist div h1 {
  font-size: 2em;
  font-family: spotifyFontBold;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
}
section.search .top-results.artist div a {
  padding: 6px 10px;
  font-size: 0.9em;
  background-color: rgb(14, 13, 13);
  border-radius: 500px;
}
section.search .top-results.artist div button {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 50px;
  border: none;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #1fdf64;
  display: grid;
  place-content: center;
  font-size: 1.2em;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.2s, transform 0.2s;
}
section.search .top-results.tracks {
  max-height: 276px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 3.5px;
}
section.search .top-results.tracks h1 {
  margin-bottom: 16px;
}
section.search .search-result-section {
  padding: 20px;
}
section.search .search-result-section article {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
  overflow: hidden;
}
@media screen and (max-width: 1300px) {
  section.search .search-result-section article {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1100px) {
  section.search .search-result-section article {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (max-width: 880px) {
  section.search .search-result-section article {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
section.search .search-result-section article.show {
  grid-auto-rows: 1fr;
  grid-row-gap: 25px;
}
section.search .search-result-section article .playlist-card {
  aspect-ratio: 4.5/6.5;
}
section.search .search-result-section article .playlist-card p {
  white-space: nowrap;
  width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: inline;
}
section.search .search-result-section article.search-result-section-artists .image-container div {
  border-radius: 50%;
}

.song-card-loose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  min-height: 40px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: spotifyFontLight;
}
.song-card-loose:hover {
  background-color: #2a2a2a;
}
.song-card-loose:hover img {
  filter: brightness(20%);
}
.song-card-loose .title-and-artist {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "image title" "image artist";
  grid-column-gap: 15px;
}
.song-card-loose .title-and-artist div {
  grid-area: image;
  width: 40px;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}
.song-card-loose .title-and-artist div img {
  width: 100%;
}
.song-card-loose .title-and-artist div i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.song-card-loose .title-and-artist h4 {
  grid-area: title;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
}
.song-card-loose .title-and-artist p {
  grid-area: artist;
  margin: 0;
  color: rgb(170, 168, 168);
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
}
.song-card-loose .title-and-artist p span {
  padding: 0;
}
.song-card-loose span {
  position: relative;
  padding: 0px 50px 0px 50px;
  color: rgb(170, 168, 168);
}
.song-card-loose span i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.song-card-loose span i:hover {
  color: white;
}
.song-card-loose span i:first-child {
  left: 10px;
}
.song-card-loose span .fa-ellipsis {
  position: absolute;
  right: 10px;
  padding: 20px;
  padding-right: 0px;
}
.song-card-loose span .fa-ellipsis:hover + .options {
  visibility: visible;
}
.song-card-loose span .options {
  overflow: hidden;
  visibility: hidden;
  min-width: 160px;
  position: absolute;
  right: 0%;
  top: -450%;
  background-color: black;
  border-radius: 5px;
}
.song-card-loose span .options:hover {
  visibility: visible;
}
.song-card-loose span .options ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.song-card-loose span .options ul li {
  text-align: left;
  padding: 10px 10px;
}
.song-card-loose span .options ul li:hover {
  background-color: #111111;
}

article.artist {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
article.artist main.scrollable-artist {
  scrollbar-width: thin;
  width: 100%;
  z-index: 10;
  height: 100%;
  overflow-y: overlay;
  overflow-x: hidden;
  scrollbar-color: transparent #111111;
}
article.artist main.scrollable-artist::-webkit-scrollbar {
  width: 7px;
}
article.artist main.scrollable-artist::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
article.artist main.scrollable-artist::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
}
article.artist main.scrollable-artist:hover {
  scrollbar-color: rgb(150, 148, 148) #111111;
}
article.artist main.scrollable-artist:hover::-webkit-scrollbar-thumb {
  background-color: rgb(150, 148, 148);
}
article.artist main.scrollable-artist .main-artist-header {
  padding: 40px 30px;
  padding-top: 100px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
article.artist main.scrollable-artist .main-artist-header div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
article.artist main.scrollable-artist .main-artist-header div i {
  position: relative;
  background-color: rgb(0, 110, 255);
  border-radius: 3px;
  padding: 4px;
  font-size: 0.8em;
  z-index: 1;
}
article.artist main.scrollable-artist .main-artist-header div i::after {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  content: "";
  background-color: rgb(0, 110, 255);
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
article.artist main.scrollable-artist .main-artist-header h1 {
  font-size: 6em;
  word-break: break-all;
  margin: 0;
  margin-top: 10px;
  font-family: spotifyFontBold;
}
article.artist main.scrollable-artist .main-artist-header p {
  margin: 0;
  margin-top: 50px;
}
article.artist main.scrollable-artist .artist-info {
  background: linear-gradient(rgba(18, 18, 18, 0.6), #121212, #121212, #121212, #121212, #121212, #121212);
}
article.artist main.scrollable-artist .artist-info header {
  padding: 30px;
}
article.artist main.scrollable-artist .artist-info header button:nth-child(2) {
  font-size: 0.9em;
  font-family: spotifyFontBold;
  color: white;
  padding: 10px 15px;
  border-radius: 500px;
  border: solid rgb(168, 167, 167) 1px;
}
article.artist main.scrollable-artist .artist-info header button:nth-child(2):hover {
  border-color: white;
  box-shadow: 0px 0px 2px 2px white;
}
article.artist main.scrollable-artist .artist-info article table {
  padding: 10px;
}
article.artist main.scrollable-artist .artist-info article table caption {
  text-align: left;
  padding: 0px 30px;
  font-size: 1.5em;
}
article.artist main.scrollable-artist .artist-info article table tr {
  grid-template-columns: minmax(0, 1fr) minmax(0, 11fr) minmax(0, 6fr) minmax(0, 2fr);
  margin: 0;
}
@media screen and (max-width: 900px) {
  article.artist main.scrollable-artist .artist-info article table tr {
    grid-template-columns: minmax(0, 2fr) minmax(0, 11fr) minmax(0, 5fr);
  }
}
article.artist main.scrollable-artist .artist-info article table tr .title-and-artist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
article.artist main.scrollable-artist .artist-info article table tr .album div {
  cursor: default;
}
article.artist main.scrollable-artist .artist-info article table tr .album div:hover {
  text-decoration: none;
  color: rgb(185, 185, 185);
}
article.artist main.scrollable-artist .artist-info article table tr td:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
article.artist main.scrollable-artist .artist-info article .artist-albums, article.artist main.scrollable-artist .artist-info article .related-artists {
  padding: 30px;
}
article.artist main.scrollable-artist .artist-info article .artist-albums h1, article.artist main.scrollable-artist .artist-info article .related-artists h1 {
  font-size: 1.5em;
}
article.artist main.scrollable-artist .artist-info article .artist-albums article, article.artist main.scrollable-artist .artist-info article .related-artists article {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-column-gap: 25px;
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
  overflow: hidden;
}
@media screen and (max-width: 1300px) {
  article.artist main.scrollable-artist .artist-info article .artist-albums article, article.artist main.scrollable-artist .artist-info article .related-artists article {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1100px) {
  article.artist main.scrollable-artist .artist-info article .artist-albums article, article.artist main.scrollable-artist .artist-info article .related-artists article {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (max-width: 880px) {
  article.artist main.scrollable-artist .artist-info article .artist-albums article, article.artist main.scrollable-artist .artist-info article .related-artists article {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
article.artist main.scrollable-artist .artist-info article .artist-albums article img, article.artist main.scrollable-artist .artist-info article .related-artists article img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
article.artist main.scrollable-artist .artist-info article .related-artists .image-container div {
  border-radius: 50%;
}

.category-page {
  min-width: 100%;
  min-height: 100%;
}
.category-page header {
  padding: 60px 30px;
  padding-top: 150px;
}
.category-page header h1 {
  margin: 0;
  font-size: 6em;
  font-family: spotifyFontBold;
}
.category-page section {
  padding: 30px;
}
.category-page section h1 {
  font-size: 1.3em;
}
.category-page section article {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 25px;
}
@media screen and (max-width: 1400px) {
  .category-page section article {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1170px) {
  .category-page section article {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (max-width: 970px) {
  .category-page section article {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.category-page section article .playlist-card {
  padding-bottom: 0px;
}

@font-face {
  font-family: spotifyFont;
  src: url("../fonts/GothamMedium.ttf");
}
@font-face {
  font-family: spotifyFontLight;
  src: url("../fonts/GothamLight.ttf");
}
@font-face {
  font-family: spotifyFontBold;
  src: url("../fonts/GothamBold.ttf");
}
[v-cloak] {
  display: none;
}

body {
  font-family: spotifyFont;
  background-color: black;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  height: 100vh;
}

.main-layout {
  padding: 10px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 20fr 3fr;
  grid-gap: 10px;
  grid-template-areas: "aside header" "aside content" "footer footer";
}
.main-layout .router-view {
  background-color: #111111;
  color: white;
  grid-area: content;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  position: relative;
  border-radius: 10px;
}
@media screen and (max-width: 900px) {
  .main-layout .router-view {
    min-width: 500px;
  }
}
.main-layout .router-view::-webkit-scrollbar {
  width: 7px;
}
.main-layout .router-view::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
.main-layout .router-view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
}
.main-layout .router-view:hover {
  scrollbar-color: rgb(150, 148, 148) transparent;
}
.main-layout .router-view:hover::-webkit-scrollbar-thumb {
  background-color: rgb(150, 148, 148);
}

article.login {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #095526;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000000' stroke-width='65.6' stroke-opacity='0.08' %3E%3Ccircle fill='%23095526' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23095325' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23085124' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23085024' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23084e23' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23084c22' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23084a21' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23074821' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23074720' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2307451f' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2307431e' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2307411e' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2307401d' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23073e1c' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23063c1b' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23063a1b' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2306391a' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23063719' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 100;
}
article.login section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: rgba(0, 0, 0, 0.6);
}
article.login div {
  width: 15%;
  min-width: 200px;
  overflow: hidden;
}
article.login img {
  width: 100%;
}
article.login a {
  border: none;
  font-family: spotifyFontLight;
  font-size: 1.8em;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #111111;
  padding: 15px 80px;
  border-radius: 500px;
}
article.login a:hover {
  background-color: rgb(245, 245, 245);
}

.loader-container {
  position: fixed;
  padding: 10px;
  width: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: minmax(290px, 1fr) 4fr;
  grid-template-rows: 2fr 20fr 3fr;
  grid-gap: 8px;
  grid-template-areas: "nothing nothing" "nothing content" "nothing nothing";
  z-index: 4;
}
.loader-container .spinner-container {
  border-radius: 10px;
  background-color: #111111;
  position: relative;
  display: grid;
  place-content: center;
}
@media screen and (max-width: 900px) {
  .loader-container .spinner-container {
    min-width: 500px;
  }
}
.loader-container .lds-ellipsis {
  grid-area: content;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader-container .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #1fdf64;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-container .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.loader-container .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loader-container .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loader-container .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}/*# sourceMappingURL=style.css.map */